.dashboard {
  background-color: var(--clr-primary);
  border-radius: var(--radius);

  .search {
    text-align: center;
    input {
      width: 100%;
      height: 3em;
      padding: 1em;
    }
  }
}

.paste-container {
  background-color: var(--clr-primary);
  transition: opacity 0.3s;

  hr {
    margin: 0 auto;
    width: 90%;
    border: 1px solid var(--background);
  }
}

.paste {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  transition: background-color 0.3s;
}

.paste__props {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  overflow-wrap: anywhere;
}

.paste__name {
  font-family: var(--font-title);
  font-weight: bold;
}

.paste__prop {
  font-size: 0.75rem;
}

.paste--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paste__from {
  font-size: 0.75rem;
  font-style: italic;
  opacity: 0.5;

  :not(:last-child)::after {
    content: ' • ';
  }
}

.paste__tags {
  text-align: right;
  font-size: 0.75rem;
  // opacity: 0.5;
  color: var(--link-clr);

  .span--entity {
    text-decoration: underline;
  }

  :not(:last-child) i::after {
    content: ' • ';
  }
}

.pagination {
  padding: 1em 0;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  button {
    padding: 0.2em 0.5em;
  }
  .active-btn {
    opacity: 0.6;
  }
}
